<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InfoBoardDAO">

	<select id="getInfoBoardList" parameterType="infoBoard"
		resultType="infoBoard">
		SELECT * FROM T_INFORM_TABLE
		WHERE 1=1 
		<if test="searchCondition == 'INFO_TITLE' ">
			AND INFO_TITLE LIKE '%'|| #{searchKeyword} ||'%'
		</if>
		<if test="searchCondition == 'INFO_CONTENT' ">
			AND INFO_CONTENT LIKE '%'|| #{searchKeyword} ||'%'
		</if>
		ORDER BY INFO_IDX DESC
	</select>
	
	<select id="getInfoBoard" parameterType="infoBoard"
		resultType="infoBoard">
		SELECT * FROM T_INFORM_TABLE WHERE info_idx = #{info_idx}	
	</select>
	
	<insert id="insertInfoBoard" parameterType="infoBoard">
		INSERT INTO T_INFORM_TABLE (INFO_IDX, INFO_TITLE, INFO_INS_USER, INFO_CONTENT, INFO_INS_DT)
		VALUES ((SELECT NVL(MAX(info_idx), 0) + 1 FROM T_INFORM_TABLE), 
		       #{info_title}, #{info_ins_user}, #{info_content}, SYSDATE)
	</insert>
	
	<update id="updateInfoBoard" parameterType="infoBoard">
		UPDATE T_INFORM_TABLE 
		   SET INFO_TITLE = #{info_title}, 
		       INFO_CONTENT = #{info_content}
		       INFO_UPD_DT = SYSDATE 
		 WHERE INFO_IDX = #{info_idx}
	</update>
	
	<delete id="deleteInfoBoard" parameterType="infoBoard">
		DELETE FROM T_INFORM_TABLE WHERE INFO_IDX = #{info_idx}
	</delete>
	<!--  조회수 -->
	<update id="updateHit" parameterType="int">
		UPDATE T_INFORM_TABLE 
			SET INFO_HIT = INFO_HIT+1
			WHERE INFO_IDX = #{info_idx}
	</update>
	
	<!-- 페이징처리위한것 -->
	<select id="listpage" resultType="infoBoard">
	SELECT INFO_IDX,
	       INFO_TITLE,
	       INFO_INS_USER,
	       INFO_INS_DT,
	       INFO_HIT
				FROM( 
				       SELECT INFO_IDX,
				              INFO_TITLE,
				              INFO_INS_USER,
				              INFO_INS_DT,
				              INFO_HIT,
				              ROW_NUMBER() OVER(ORDER BY INFO_IDX) AS rNum
				                from T_INFORM_TABLE
				                                    ) MP
				WHERE rNum BETWEEN 1 AND 10
				ORDER BY INFO_IDX DESC;
	</select>
</mapper>









