<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- <typeAlias alias="board" type="com.spring.biz.board.BoardVO"/> -->
		<typeAlias alias="korea_address" type="com.koreigner.common.address.Korea_Address_VO"/>
		<typeAlias alias="house_all" type="com.koreigner.biz.house.HouseAll_VO"/>
		<typeAlias alias="house_search" type="com.koreigner.biz.house.HouseSearch_VO"/>
		<typeAlias alias="infoBoard" type="com.koreigner.biz.inform.InfoBoardVO"/>
		<typeAlias alias="informVO" type="com.koreigner.biz.inform.InformVO"/>
		<typeAlias alias="companyVO" type="com.koreigner.biz.job.company.CompanyVO"/>
		<typeAlias alias="hireVO" type="com.koreigner.biz.job.hire.HireVO"/>
		<typeAlias alias="jobVO" type="com.koreigner.biz.job.jobservice.JobVO"/>
		<typeAlias alias="userVO" type="com.koreigner.biz.member.UserVO"/>
		<typeAlias alias="rsVO" type="com.koreigner.biz.resale.ResaleVO"/>
		<typeAlias alias="rsImgVO" type="com.koreigner.biz.resale.ResaleImgVO"/>
		<typeAlias alias="rsCommVO" type="com.koreigner.biz.resale.ResaleCommVO"/>
		<typeAlias alias="p_MyPageVO" type="com.koreigner.biz.member.mypage.p_MyPageVO"/>
		<typeAlias alias="c_MyPageVO" type="com.koreigner.biz.member.mypage.c_MyPageVO"/>
	</typeAliases>
  
  <!-- SQL ?묒꽦?뚯씪??留ㅽ띁 ?뚯씪 ?꾩튂 吏??-->
  <mappers>
<!-- common mapper -->
     <mapper resource="mappings/common/korea_address-mapper.xml"/>
     
<!-- job mapper -->
     <mapper resource="mappings/job/company-mapper.xml"/>
     <mapper resource="mappings/job/hire-mapper.xml"/>
     <mapper resource="mappings/job/jobservice-mapper.xml"/>
     
<!-- resale mapper -->
   	 <mapper resource="mappings/resale/resale-mapper.xml"/>	
   	 
   	 
<!-- house mapper -->
   	 <mapper resource="mappings/house/house-mapper.xml"/>	
   	 <mapper resource="mappings/house/house-include-mapper.xml"/>
   	 
<!-- info mapper -->
  	 <mapper resource="mappings/infoBoard-mapper.xml"/>
  	 <mapper resource="mappings/inform/inform-mapper.xml"/>
  	 
<!-- member mapper -->  	 
  	 <mapper resource="mappings/member/user-mapper.xml"/>
  	 <mapper resource="mappings/member/resume-mapper.xml"/>
  	 <mapper resource="mappings/member/wish-mapper.xml"/>
  	 <mapper resource="mappings/member/myads-mapper.xml"/>
  	 <mapper resource="mappings/member/c_MyPage-mapper.xml"/>
  	 <mapper resource="mappings/member/member-include-mapper.xml"/>
  	 
  	 
  </mappers>
</configuration>














