<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inform">
	<select id="getSelectSearchList" parameterType="informVO" resultType="hashmap">
	SELECT 
		*
	FROM(
		SELECT
			ROWNUM R_NUM, INFO.*
		FROM (	
			SELECT 
				INFO_IDX, INFO_TITLE ,INFO_HIT , TO_CHAR(INFO_INS_DT,'YYYY-MM-DD') as INFO_INS_DT, 
				INFO_MEM_ID,  TO_CHAR(INFO_UPD_DT,'YYYY-MM-DD') as INFO_UPD_DT, INFO_CATEGORY 
			FROM T_INFORM_TABLE
			WHERE
				INFO_STATE=1
			
				<if test="info_category != 'All' ">
					AND INFO_CATEGORY=#{info_category}
				</if>
				
			
			ORDER BY INFO_IDX DESC
					) INFO
			)
	 WHERE R_NUM BETWEEN #{begin} AND #{end} 
	</select>
	
	<select id="getInform" parameterType="int" resultType="informVO">
	SELECT 
		INFO_IDX, INFO_TITLE,DBMS_LOB.SUBSTR(INFO_CONTENT, 3000, 1) as INFO_CONTENT
		,INFO_HIT ,INFO_INS_DT ,INFO_MEM_ID,INFO_UPD_DT,INFO_CATEGORY,INFO_IP,INFO_BOARD_IDX 
	FROM T_INFORM_TABLE
	
	WHERE
		INFO_IDX=#{info_idx}
		
	</select>
	<select id="informSearchTotalCount" parameterType="informVO" resultType="int">
	SELECT 
		COUNT(INFO_IDX)
	FROM T_INFORM_TABLE
		WHERE
			INFO_STATE=1
		<if test="info_category != 'All' ">
			AND INFO_CATEGORY=#{info_category}
		</if>
				
	</select>

	
	<insert id="insertInform" parameterType="informVO">
	INSERT INTO 
		T_INFORM_TABLE (
						  INFO_IDX, INFO_TITLE, INFO_CONTENT,
						  INFO_MEM_ID, INFO_CATEGORY, INFO_IP
					   )
		VALUES 		   (
						  INFORM_SQ.NEXTVAL, #{info_title}, #{info_content},
						  #{info_mem_id},#{info_category},   (SELECT SYS_CONTEXT ('USERENV', 'IP_ADDRESS') FROM DUAL) 
					   )
	</insert>
	
	<update id="updateInform" parameterType="informVO">
	UPDATE
		T_INFORM_TABLE
	SET
		INFO_TITLE = #{info_title},
		INFO_CONTENT= #{info_content},
		INFO_CATEGORY= #{info_category},
		INFO_UPD_DT= (SYSDATE+ (INTERVAL '9' HOUR ))
	WHERE
		INFO_IDX = #{info_idx} 
	</update>
	<update id="increaseHit" parameterType="int">
	UPDATE
		T_INFORM_TABLE
	SET
		INFO_HIT = INFO_HIT+1
	WHERE
		INFO_IDX = #{info_idx} 
	</update>
	
	<update id="deleteInform" parameterType="int">
	UPDATE
		T_INFORM_TABLE
	SET
		INFO_STATE = 2
	WHERE
		INFO_IDX = #{info_idx} 
	
	</update>
</mapper>









