<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.common.include">
	<sql id="wish_Select">
		FROM T_WISH_LIST WHERE MEM_ID = #{mem_id} AND BOARD_IDX= #{board_idx}
	</sql>
	<sql id="my_where">
		WHERE MEM_ID = #{mem_id} AND BOARD_IDX= #{board_idx}
	</sql>
	
	<sql id="select_RESUME_IDX" >
		(RESUME_IDX)
        FROM T_MEMBER_APPLY
        WHERE COMPANY_IDX=(  SELECT COMPANY_IDX 
                          		 FROM T_COMPANY 
                           	 WHERE MEM_ID=#{mem_id} 
                           )AND STATE=1 
	</sql>
</mapper>









