<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myads">

	
	
	<!-- 집 위시리스트 정보 불러오기 -->
	<select id="getHouseMyAdsList" parameterType="p_MyPageVO" resultType="house_all">
		SELECT 
			*
		FROM(
			SELECT
				ROWNUM R_NUM, HOUSE.*
			FROM (
		
					SELECT 
		    			<include refid="House_Include.house_select" />
					FROM 
					   <include refid="House_Include.house_From" />
					WHERE 
						<include refid="House_Include.house_Where" />
					AND
						BOARD.MEM_EMAIL= #{mem_id}  	
					ORDER BY 
						BOARD.ROOM_IDX DESC
					) HOUSE
		 )
		 WHERE R_NUM BETWEEN #{begin} AND #{end} 
		 
	</select>
	
	<select id="getHireMyAdsList" parameterType="p_MyPageVO" resultType="hireVO">
		SELECT *
		FROM (
		       SELECT ROWNUM R_NUM, HIRE.*
		        FROM (SELECT *
		              FROM T_JOB_HIRE
		              WHERE 
						MEM_EMAIL= #{mem_id}  	
		                
		               ORDER BY HIRE_IDX DESC) HIRE
		 )
		 WHERE R_NUM BETWEEN #{begin} AND #{end} 
	</select>
	
	
	<select id="getHireMyApplyList" parameterType="p_MyPageVO" resultType="hireVO">
		SELECT *
		FROM (
		       SELECT ROWNUM R_NUM, HIRE.*
		        FROM (SELECT *
		              FROM T_JOB_HIRE
		              WHERE 
						HIRE_IDX IN (SELECT HIRE_IDX 
									 FROM T_MEMBER_APPLY 
									 WHERE RESUME_IDX IN ( SELECT RESUME_IDX 
									 						FROM T_MEMBER_RESUME 
									 						WHERE MEM_ID=#{mem_id} 
									 					 ) 
									 AND STATE=1
									  )  	
		                
		               ORDER BY HIRE_IDX DESC) HIRE
		 )
		 WHERE R_NUM BETWEEN #{begin} AND #{end} 
	</select>
	
	
	<select id="getResaleMyAdsList" parameterType="p_MyPageVO" resultType="rsVO">
	SELECT *
		FROM (
		       SELECT ROWNUM R_NUM, RESALE.*
		        FROM (SELECT *
		                FROM T_RESALE_BOARD
		                WHERE 
						MEM_ID=#{mem_id} 
		               ORDER BY RS_IDX DESC) RESALE    
		           
		    )
	  WHERE R_NUM BETWEEN #{begin} AND #{end}
	  
	</select>
	
	<select id="getInformMyAdsList" parameterType="p_MyPageVO" resultType="informVO">
	SELECT 
		*
	FROM(
		SELECT
			ROWNUM R_NUM, INFO.*
		FROM (	
			SELECT 
				* 
			FROM T_INFORM_TABLE
			WHERE
				INFO_MEM_ID=#{mem_id} 
				AND
				INFO_STATE=1
			
			ORDER BY INFO_IDX DESC
					) INFO
			)
	 WHERE R_NUM BETWEEN #{begin} AND #{end} 
	</select>
	
	
	
	
	
	<select id="getAdsTotal" parameterType="p_MyPageVO" resultType="int">
	
	<choose>
		<when test="board_idx == 1">
			SELECT COUNT(ROOM_IDX) FROM T_ROOM_BOARD WHERE MEM_EMAIL= #{mem_id} AND STATE=1
		</when>
		<when test="board_idx == 2">
			SELECT COUNT(APPLY_IDX) FROM T_MEMBER_APPLY WHERE  RESUME_IDX IN ( SELECT RESUME_IDX FROM T_MEMBER_RESUME WHERE MEM_ID=#{mem_id}  ) AND STATE=1 
		</when>
		<when test="board_idx == 3">
			SELECT COUNT(RS_IDX) FROM T_RESALE_BOARD WHERE MEM_ID= #{mem_id} 
		</when>
		<when test="board_idx == 4">
			SELECT COUNT(INFO_IDX) FROM T_INFORM_TABLE WHERE INFO_MEM_ID=#{mem_id} AND INFO_STATE=1
		</when>
	</choose>
	
	</select>
</mapper>









