<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wish">

	
	<!-- 위시리스트 정보 불러오기 -->
	<select id="getWishTotal" parameterType="p_MyPageVO" resultType="int">
		SELECT COUNT(*) <include refid="member.common.include.wish_Select" />
	</select>
	
	<!-- 위시리스트 정보 불러오기 -->
	<select id="getSelectWishList" parameterType="p_MyPageVO" resultType="p_MyPageVO">
		SELECT * <include refid="member.common.include.wish_Select" />
	</select>
	
	<!-- 위시리스트 정보 불러오기 -->
	<select id="isWish" parameterType="p_MyPageVO" resultType="int">
		SELECT COUNT(WISH_IDX) <include refid="member.common.include.wish_Select" /> AND B_IDX=#{b_idx} 
	</select>
	
	<insert id="insertWish">
		INSERT INTO T_WISH_LIST VALUES(WISH_SQ.nextval, #{mem_id}, #{board_idx},#{b_idx},( SYSDATE + (interval '9' hour) ))
	</insert>
	<delete id="deleteWish">
		DELETE <include refid="member.common.include.wish_Select" /> AND B_IDX=#{b_idx} 
		
	</delete>
	
	<!-- 집 위시리스트 정보 불러오기 -->
	<select id="getHouseWishList" parameterType="p_MyPageVO" resultType="house_all">
		SELECT 
			*
		FROM(
			SELECT
				ROWNUM R_NUM, HOUSE.*
			FROM (
		
					SELECT 
		    			<include refid="House_Include.house_select" />
					FROM 
					   <include refid="House_Include.house_From" />
					WHERE 
						<include refid="House_Include.house_Where" />
					AND
						BOARD.ROOM_IDX IN (SELECT B_IDX <include refid="member.common.include.wish_Select" />) 	
					ORDER BY 
						BOARD.ROOM_IDX 
					) HOUSE
		 )
		 WHERE R_NUM BETWEEN #{begin} AND #{end} 
		 
	</select>
	
	<select id="getHireWishList" parameterType="p_MyPageVO" resultType="hireVO">
		SELECT *
		FROM (
		       SELECT ROWNUM R_NUM, HIRE.*
		        FROM (SELECT *
		              FROM T_JOB_HIRE
		              WHERE 
						HIRE_IDX IN ( SELECT B_IDX <include refid="member.common.include.wish_Select" /> )
		                
		               ORDER BY HIRE_IDX DESC) HIRE
		 )
		 WHERE R_NUM BETWEEN #{begin} AND #{end} 
	</select>
	<select id="getResaleWishList" parameterType="p_MyPageVO" resultType="rsVO">
	SELECT *
		FROM (
		       SELECT ROWNUM R_NUM, RESALE.*
		        FROM (SELECT *
		                FROM T_RESALE_BOARD
		                WHERE 
						RS_IDX IN ( SELECT B_IDX <include refid="member.common.include.wish_Select" /> )
		               ORDER BY RS_IDX DESC) RESALE    
		           
		    )
	  WHERE R_NUM BETWEEN #{begin} AND #{end}
	  
	</select>
	<select id="getResaleImgWishList" parameterType="p_MyPageVO" resultType="rsImgVO">
	SELECT *
 		 FROM ( 
 		 		SELECT ROWNUM R_NUM, IMG.*
                FROM(SELECT *
           			 FROM T_RESALE_IMG 
            		 WHERE ROWID IN (SELECT MAX(ROWID) 
                            		 FROM T_RESALE_IMG 
                            		 WHERE RS_IDX IN ( SELECT B_IDX <include refid="member.common.include.wish_Select" /> )
                            		  GROUP BY RS_IDX)
                           				 ORDER BY RS_IDX DESC) IMG
                             		)
                    
                    
 		WHERE R_NUM BETWEEN #{begin} AND #{end}
	</select>
	
	<select id="getInformWishList" parameterType="p_MyPageVO" resultType="informVO">
	SELECT 
			*
		FROM(
			SELECT
				ROWNUM R_NUM, INFORM.*
			FROM (
		
					SELECT 
		    			*
					FROM 
					   T_INFORM_TABLE
					WHERE 
						INFO_STATE=1
					AND
						INFO_IDX IN (SELECT B_IDX <include refid="member.common.include.wish_Select" />) 	
					ORDER BY 
						INFO_IDX DESC
					) INFORM
		 )
		 WHERE R_NUM BETWEEN #{begin} AND #{end} 
	</select>
</mapper>









