<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="House_DAO">
		
	<select id="getSearchList" parameterType="house_search"
		resultType="house_all">

SELECT 
	*
FROM(

	SELECT
		ROWNUM R_NUM, HOUSE.*
	FROM (
			SELECT 
				<include refid="House_Include.house_select" />
			FROM 
				<include refid="House_Include.house_From" />
			WHERE 
				<include refid="House_Include.house_Where" />
				<include refid="House_Include.house_Filter" />
	       	ORDER BY 
				<include refid="House_Include.house_OrderBy" />
				) HOUSE
	)
 WHERE R_NUM BETWEEN #{begin} AND #{end} 
			
	</select>


	<select id="getHouseTotal" parameterType="house_search" resultType="int">
		SELECT COUNT(*) 
		FROM T_ROOM_BOARD BOARD, T_ROOM_INFO INFO
		
		WHERE	
			BOARD.ROOM_IDX=INFO.ROOM_IDX 
	  		<include refid="House_Include.house_Filter" />
	   
	</select>


	
	<select id="getHouse" parameterType="int"
		resultType="house_all">
		SELECT 
		    <include refid="House_Include.house_select" />
		FROM 
		   <include refid="House_Include.house_From" />
		WHERE 
			BOARD.ROOM_IDX=#{room_idx}
			AND
			<include refid="House_Include.house_Where" />
		    
	</select>
	
	<select id="getRoom_Sq" resultType="int">
		SELECT MAX(ROOM_IDX) FROM T_ROOM_BOARD 
	</select>
	
	<insert id="insertNewHouse" parameterType="house_all">
	  {call
        declare
        begin
		INSERT 
		    INTO  
		        T_ROOM_BOARD(ROOM_IDX, MEM_EMAIL, SUBJECT, DO_EN, 
		        GU_GUN_EUP_ENG, ADDRESS, ADDRESS_DETAIL, ROOM_REPORTING_DATE) 
		    VALUES 
		        (ROOM_SQ.NEXTVAL,#{mem_email},#{subject}, #{do_en},  
		        #{gu_gun_eup_eng},#{address},#{address_detail},( SYSDATE + (interval '9' hour) ));
		  <foreach collection="img_nameList" item="fileName" index="index">
		  INSERT
		    INTO 
		        T_ROOM_IMG(ROOM_IDX, ROOM_IMG_NAME, ROOM_IMG_ORI_NAME) 
		    VALUES 
		        (ROOM_SQ.CURRVAL,  ('house_' || ROOM_SQ.CURRVAL || '_' || SUBSTR(#{fileName}, 1, INSTR(#{fileName}, '/', 1, 1) - 1) )  , 
		         ( SUBSTR(#{fileName}, INSTR(#{fileName}, '/', 1, 1) + 1, INSTR(#{fileName}, '/', 1, 2) - INSTR(#{fileName}, '/', 1, 1) - 1) ) );
		  </foreach> 
		  INSERT
		    INTO 
		        T_ROOM_INFO(ROOM_IDX, BUILD_TYPE, ROOM_TYPE, ROOM_AREA, BULID_LAYERS, FLOOR_LAYERS,  
		            FLOOR_TYPE, STAY_NUM_MIN, DEPOSIT, MONTHLY_RENT, MANAGEMENT_EXPENSE, AVAILABLE_DATE) 
		    VALUES 
		        (ROOM_SQ.CURRVAL, #{build_type}, #{room_type}, #{room_area}, #{bulid_layers}, #{floor_layers} 
		        , #{floor_type}, #{stay_num_min}, #{deposit}, #{monthly_rent}, #{management_expense}, #{available_date}); 
		   INSERT
		    INTO 
		        T_ROOM_OPTION(ROOM_IDX, CLOSET, DESK, CHAIR, BAD_TYPE, AIR_CONDITIONER, HEATING, KITCHEN_STOVE,  
		        REFRIGERATOR, LAUNDRY, PET, INTERNET, WIFI, ELEVATOR, SINK, BATHROOM, PARKING) 
		    VALUES 
		        (ROOM_SQ.CURRVAL,#{closet}, #{desk}, #{chair}, #{bad_type}, #{air_conditioner}, #{heating}, #{kitchen_stove} 
		         , #{refrigerator}, #{laundry}, #{pet}, #{internet}, #{wifi}, #{elevator}, #{sink}, #{bathroom}, #{parking} );
		
		INSERT 
		    <include refid="House_Include.house_insertLog" />
		          ,ROOM_SQ.CURRVAL,'글 등록') ;
		
		
	end
	}
	<selectKey keyProperty="room_idx" resultType="Integer" order="AFTER">
			SELECT ROOM_SQ.CURRVAL FROM DUAL
	</selectKey>
	</insert>
	
	
	
	
	
	<select id="getAllList" parameterType="house_all"
		resultType="house_all">
		SELECT 
		     <include refid="House_Include.house_select" />
		FROM 
		    <include refid="House_Include.house_From" />
		WHERE 
		    <include refid="House_Include.house_Where" />
	</select>
	
	
	
	<update id="deleteHouse" parameterType="int">
		
		    
		{call
        declare
        begin
			UPDATE 
				T_ROOM_BOARD
			SET 
				STATE = 2, 
				ROOM_MODIFY_DATE=( SYSDATE + (interval '9' hour) )  
			WHERE
			    ROOM_IDX = #{room_idx} ;
              
            INSERT INTO 
		        T_ROOM_LOG(ROOM_LOG_IDX, ROOM_LOG_CATEGORY, ROOM_IDX, MEM_EMAIL, ROOM_CONTENT, ROOM_LOG_DATE, IP) 
		    VALUES 
		        (
		        	ROOM_LOG_SQ.NEXTVAL,
		        	'글 삭제', 
		        	#{room_idx},
		        	(SELECT 
		        		MEM_EMAIL  
		        	 FROM  
		        	 	T_ROOM_BOARD  
		        	 WHERE 
		        	 	ROOM_IDX= #{room_idx} 
		        	),  
		        	(SELECT
		        	 	MAX(DBMS_LOB.SUBSTR(ROOM_CONTENT, 3000, 1)) 
		        	 	KEEP(DENSE_RANK LAST ORDER BY ROOM_LOG_DATE) 
		        	 FROM 
		        	 	T_ROOM_LOG 
		        	 WHERE 
		        	 	ROOM_IDX=#{room_idx} 
		        	),
		        	( SYSDATE + (interval '9' hour) ), (SELECT SYS_CONTEXT ('USERENV', 'IP_ADDRESS') FROM DUAL)  
		        
		        );
		          
              
         end
     	}     
		
	</update>
	
	<update id="updateHouse" parameterType="house_all">
		{call
        declare
        begin
		     UPDATE
		     	 T_ROOM_BOARD
		     SET
				SUBJECT=#{subject},
				DO_EN=#{do_en},  
				GU_GUN_EUP_ENG= #{gu_gun_eup_eng}, 
				ADDRESS=#{address},
				ADDRESS_DETAIL=#{address_detail}, 
				ROOM_MODIFY_DATE= ( SYSDATE + (interval '9' hour) )
			 WHERE
			 	ROOM_IDX=#{room_idx};
			 
			 UPDATE
		     	 T_ROOM_INFO
		     SET
				BUILD_TYPE= #{build_type},
				ROOM_TYPE= #{room_type},
				ROOM_AREA= #{room_area}, 
				BULID_LAYERS=#{bulid_layers}, 
				FLOOR_LAYERS= #{floor_layers}, 
		        FLOOR_TYPE=#{floor_type},
				STAY_NUM_MIN=#{stay_num_min}, 
				DEPOSIT=#{deposit}, 
				MONTHLY_RENT= #{monthly_rent}, 
		        MANAGEMENT_EXPENSE= #{management_expense}, 
		        AVAILABLE_DATE= #{available_date}
			 WHERE
			 	ROOM_IDX=#{room_idx};
			 
			 
			 UPDATE
		     	 T_ROOM_OPTION
		     SET
				CLOSET=#{closet}, 
			    DESK= #{desk}, 
			    CHAIR= #{chair}, 
			    BAD_TYPE= #{bad_type}, 
			    AIR_CONDITIONER= #{air_conditioner}, 
		        HEATING= #{heating}, 
		        KITCHEN_STOVE=#{kitchen_stove}, 
		        REFRIGERATOR=#{refrigerator}, 
		        LAUNDRY= #{laundry}, 
		        PET= #{pet}, 
		        INTERNET= #{internet}, 
		        WIFI= #{wifi}, 
		        ELEVATOR= #{elevator}, 
		        SINK= #{sink}, 
		        BATHROOM= #{bathroom}
			 WHERE
			 	ROOM_IDX=#{room_idx};
		     	
			 INSERT 
			 	<include refid="House_Include.house_insertLog" />
			 	, #{room_idx},'글 수정' );
			 	
			 UPDATE 
			 	T_ROOM_IMG
			 SET
				ROOM_IMG_STATE=2
			 WHERE
			 	ROOM_IDX=#{room_idx}
			 	AND ROOM_IMG_DATE=(SELECT MAX(ROOM_IMG_DATE) FROM T_ROOM_IMG WHERE ROOM_IDX=#{room_idx});
			 
			 
			 <foreach collection="img_nameList" item="fileName" index="index">
			 INSERT
		    	INTO 
		        T_ROOM_IMG(ROOM_IDX, ROOM_IMG_NAME, ROOM_IMG_ORI_NAME) 
		    VALUES 
		        (#{room_idx},  ('house_' || #{room_idx} || '_' || SUBSTR(#{fileName}, 1, INSTR(#{fileName}, '/', 1, 1) - 1) )  , 
		         ( SUBSTR(#{fileName}, INSTR(#{fileName}, '/', 1, 1) + 1, INSTR(#{fileName}, '/', 1, 2) - INSTR(#{fileName}, '/', 1, 1) - 1) ) );
		  	 </foreach> 
		  	 
         end
     	}       
		  
		    
		
	</update>
	
</mapper>









