@charset "UTF-8";

/*	
#container {
		border: 3px solid lightblue;
		width: 700px; height: 370px;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
		column-width: 320px;
		column-gap: 32px;
		column-rule: 3px solid lightblue;
	}
*/
	@media (max-width:700px){
		.register_container{
		margin:0px; padding:0px;
		}
	
	}
	#register_container {
		position:static;
		font-family: Maven Pro;
		background-color: #fff;
    	border: 2px solid #b6cbc7;
    	color: #000;
    	margin-top: 30px;
		margin-bottom: 30px;
    	padding:10px 10px;
    	font-size:20px;
    	height:500px;
    	width:400px;
    	margin-left: 30%;

  		overflow: hidden;
	}
	.login{

		margin-left: 55px;
	}
	 h1{
	  column-span: all;
	  text-align: center;
	  margin-bottom: 25px;
	  
	  
	}
	.spanText {
		text-align: center;
		font-size: 16px;
		margin:5px;
		padding:5px 21px;
		color:black;
	}
	.a_href{
	color:red;
	}

	#login_url{
		margin-bottom:105px;
		margin-left: 30px;
		
	
	}
	.google_url{
		margin-left: -4px;
		border-radius: 10px;
	
	}
	.input_box {
		max-width: 100%;
		background-color: #fff;
    	border: 2px solid #c0c0c0;
    	color: red;
    	width:240px;
    	padding-right: 28px;
    	padding:5px 5px;
    	margin:5px 5px;
    	height:20px;
    	border-radius: 5px;
	}
	.button {
		background-color: #4CAF50;
		width:260px;
 		border: none;
	  	color: white;
	  	padding: 10px 30px;
	  	text-align: center;
	  	text-decoration: none;
	  	display: inline-block;
	  	font-size: 20px;
	  	margin: 8px 2px;
	  	cursor: pointer;
	  	border-radius: 8px;
	}
	img {
		border: 2px solid red;
		width: 100px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	#regCotent{
		height: auto;
		padding-top: 50px;
	}
	table#regCom{
		width: 90%;
		height: auto;
		margin-left: 50px;
		
	}
	table#regCom tr {border-bottom: 1px solid black;}
	#titleText{font-size: 30px; font-weight: 400;}
	#titleText2{font-size: 17px; font-weight: 500;}
	.title {width: 12%; height: 70px;}
	.contents {width: 88%; height: 70px;}
	#flag {width : 20px; height : 20px; border:0}
	
