<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resaleDAO">
	<select id="getRsUser" parameterType="String" resultType="userVO">
		SELECT *
		  FROM T_MEMBER
		  WHERE MEM_ID = #{id}
	</select>
	
	<select id="resaleTotal" resultType="int">
		SELECT COUNT(*)
		  FROM T_RESALE_BOARD
	</select>

	<select id="getResaleList" parameterType="map" resultType="rsVO">
		SELECT *
		FROM (
		       SELECT ROWNUM R_NUM, RESALE.*
		        FROM (SELECT *
		                FROM T_RESALE_BOARD
		               ORDER BY RS_IDX DESC) RESALE    
		           
		    )
	  WHERE R_NUM BETWEEN #{begin} AND #{end}
	  
	</select>
	
	<select id="getResaleImgList" parameterType="map" resultType="rsImgVO">
		SELECT *
 		 FROM ( 
 		 		SELECT ROWNUM R_NUM, IMG.*
                FROM(SELECT *
           			 FROM T_RESALE_IMG 
            		 WHERE ROWID IN (SELECT MAX(ROWID) 
                            		 FROM T_RESALE_IMG 
                            		  GROUP BY RS_IDX)
                           				 ORDER BY RS_IDX DESC) IMG
                             		)
 		WHERE R_NUM BETWEEN #{begin} AND #{end}
	</select>
	
	<select id="getRsDetail" parameterType="int" resultType="rsVO">
		SELECT * 
		FROM T_RESALE_BOARD
		WHERE RS_IDX = #{rs_idx}
	</select>
	
	<select id="resaleDetailImg" parameterType="int" resultType="rsImgVO">
		SELECT RS_FILE_NAME
		  FROM T_RESALE_IMG
		  WHERE RS_IDX = #{rs_idx}
	</select>
	
	
	<select id="resaleCommList" parameterType="int" resultType="rsCommVO">
		SELECT RS_IDX, C_IDX, MEM_ID, MEM_PW, MEM_NAME, CONTENT, IP, GROUPS, REGDATE, STEP, LEV
		  FROM T_RESALE_COMM
		 WHERE RS_IDX = #{rs_idx}
	</select>
	
	

	
	
	
	
	
	
	
	
	<!-- 중고게시판 작성 텍스트 insert -->
	<insert id="writeRs" parameterType="rsVO">
		INSERT INTO T_RESALE_BOARD (RS_IDX, BOARD_IDX, MEM_ID, MEM_PW, MEM_NAME, SUBJECT, ADDRESS, RS_CATE_PRNT, CATEGORY_CHILD, CONTENT, FILENAME, FILE_ORI_NAME, IP,  HASH_TAG, REGDATE, B_STATUS, HIT)
		  	               VALUES(RS_SEQ.NEXTVAL, 3,  #{mem_id}, #{mem_pw}, #{mem_name}, #{subject}, #{address},  #{rs_cate_prnt}, #{category_child}, #{content}, #{fileStr}, #{file_ori_name}, #{ip}, #{hash_tag}, SYSDATE, #{b_status}, #{hit})
	</insert>
	
	<!-- 중고게시판 작성 이미지 파일명 insert -->
	<insert id="writeImg" parameterType="Map">
		INSERT INTO T_RESALE_IMG 
		 VALUES(RS_SEQ.CURRVAL,#{saveFile}, #{originFile})
	</insert>
		<insert id="insertComm" parameterType="rsCommVO">
		INSERT INTO T_RESALE_COMM(RS_IDX, C_IDX, MEM_ID, MEM_PW, MEM_NAME, CONTENT,  IP, GROUPS, REGDATE, STEP, LEV)
		VALUES(#{rs_idx}, C_IDX_SEQ.NEXTVAL, #{mem_id}, #{mem_pw}, #{mem_name}, #{content}, #{ip}, RS_COMM_GROUPS.NEXTVAL, SYSDATE, 0, 0)
	</insert>
	
	
	
	
	
	<delete id="deleteResale" parameterType="int">
		 {
		   call
	         declare
	           begin
				DELETE FROM T_RESALE_IMG 
		     	    WHERE RS_IDX = #{rs_idx};
		     	    
				DELETE FROM  T_RESALE_COMM
		    		WHERE RS_IDX = #{rs_idx};
		    		
				DELETE FROM T_RESALE_BOARD 
			    	 WHERE RS_IDX = #{rs_idx};
	     		end
			}
	</delete>
	
</mapper>







